[2014-01-31 17:42] matthew-andrews opened #10 "When a colour is not defined can it raise some kind of error or warning rather than being black?"
This would help us a lot during development as it's quite hard to tell when a colour has a spelling mistake or doesn't exist.

Perhaps the build service could have the current behaviour to reduce risk of bad things happening on live?  (Perhaps coupled with sending an error to some kind of error aggregation service?)

[2014-02-02 12:09] #10 closed, assigned to nobody

[2014-02-11 16:05] wheresrhys opened #16 "Add some inverse use cases"
For e.g putting pale text on a dark background. The use case I have in mind is the &copy; notice on images, but looking on ft.com it seems there are plenty of other use cases of light on dark which currently aren't represented in this module.

[2014-02-14 09:00] dan-searle opened #17 "Use cases have to be more specific than they could be"
The current implementation of colour use cases requires that a use case must be specific to either text, background or border, so where the same colour is used for all three things you have to do this:

[code]

This is contributing to the problem of use cases being overly specific and too numerous.

I think we should drop the third column in favour of only the first column being used as the descri

[2014-02-18 14:43] wheresrhys opened #19 "How to manage palette updates"
If the colour palette changes - i.e. the colours themselves rather than the names or implementation - how do we manage this with versioning? A patch version seems too small for something which products might need to specifically upgrade to. But a minor/major version doesn't seem right either as it would require many consuming modules to update the version they request for something that isn't a br

[2014-02-19 12:49] #17 closed, assigned to nobody

[2014-02-20 17:23] wheresrhys opened #21 "Which property classes to output in non silent mode"
Currently (and after https://github.com/Financial-Times/o-colors/pull/20 is merged) in non-silent mode classes are output for o-colors-usecase-border, o-colors-usecase-color, o-colors-usecase-background.

If the mixin and property table had an extra column/parameter it could be possible to specify what the properties normally associated with that colour are e.g. for link it would be 'color', but f

[2014-02-21 10:33] #19 closed, assigned to nobody

[2014-02-21 10:34] #16 closed, assigned to nobody

[2014-02-28 23:44] triblondon opened #26 "There are two oranges"
Looking at the new registry page it becomes obvious quite quickly that our palette includes two colours called 'orange'.

http://registry.origami.ft.com/components/o-colors@2.2.14

I suggest that we should probably only have one orange.

[2014-02-28 23:48] triblondon opened #27 "blue-tint1 is red"
A colour called 'blue-tint1' probably ought to be blue.

http://registry.origami.ft.com/components/o-colors@2.2.14

[2014-03-01 00:05] #21 closed, assigned to nobody

[2014-03-20 10:11] dan-searle opened #31 "Deprecate duplicates, correct wrong colours"
As detailed by @danskinner in #26:
- delete `red2` (and update any use-cases to use `red-tint2` instead)
- delete `blue2` (and update any use-cases to use `blue-tint2` instead)
- change `purple` to be `#737e7e`
- change `blue-tint1` to be `#598caf`

[2014-03-20 10:50] #26 closed, assigned to danskinner

[2014-03-20 10:52] #31 closed, assigned to nobody

[2014-03-20 11:10] lucas42 opened #33 "Default text color for page"
If we're specifying a background color for the entire page, I think it's good practice to also specify a text color at that level.
We shouldn't assume that all text on the page falls into one of the other use cases (or that the browser's default text color is readable on top of salmon pink)

[2014-03-20 11:27] lucas42 opened #34 "Use-case for greyed out text"
There are times when a design calls for some text to be greyed out, eg:
- Certain functionality has been disabled in a given case
- Some information is missing

Can we have a use-case for this?

[2014-03-20 11:41] lucas42 opened #35 "Access palette colors in silent mode."
Currently in noisy mode it is possible to access palette colors using the o-colors-palette-\* classes.  However, in silent mode there's no way of doing this (except using _oColorsGetPaletteColor, which I'm assuming is meant to be a private function).

I'm not sure whether accessing the color palette directly is something you're trying to discourage, but there's nothing in the README about it and i

[2014-03-20 11:57] lucas42 opened #36 "Demo doesn't preview text colors for use cases"
In the use cases tab on http://registry.origami.ft.com/components/o-colors@2.2.20 previews are given for background and border colours.  However, for text colours no preview is given - it'd be nice if you could see at a glance what colour the text will be.

[2014-03-20 12:19] #27 closed, assigned to kavanagh

[2014-03-20 13:06] #36 closed, assigned to nobody

[2014-03-20 14:04] lucas42 opened #37 "Colors for severities"
Can we add a use case for each of the severity levels listed in https://docs.google.com/a/ft.com/document/d/1QaZAbSal0HWul-MP2bf-R41wfWkeqbF9KCyZBFKXtyY/edit ?

Requirements:
- Distinct background colours for each of the 3 severity levels
- Severity 1 background colour should stand out visually compared to the rest of the page
- Background colours should **not** be similar to those used for status

[2014-03-20 15:18] lucas42 opened #38 "Correct way to define product-specifc use-cases."
What's the best to add custom use-cases within a product?
This afternoon I tried `$o-colors-usecase-list: append($o-colors-usecase-list, infobox yellow background);` and that appeared to work well.
I was able to use `background-color: oColorsGetColorFor(infobox, background);` within my element and the background went yellow.

However, I then upgraded to use o-color 2.3 and found the yellow element

[2014-03-21 09:41] #35 closed, assigned to nobody

[2014-03-24 13:18] #38 closed, assigned to nobody

[2014-03-27 17:16] lucas42 opened #41 "Colour for infobox."
I would like a standard colour for a horizontal bar displayed across the page containing some contextual information. eg the yellow bar in this picture:
![screen shot 2014-03-27 at 17 14 30](https://cloud.githubusercontent.com/assets/428847/2540435/4c44e8ea-b5d3-11e3-92a6-11e53d2323fa.png)
I'm not sure what these are called - if noone has any better suggestions, I'm going with "infobox".

[2014-04-01 12:05] pauloneillft opened #47 "Make colour palettes exportable to design software"
http://www.colourlovers.com/web/blog/2007/11/08/color-palettes-in-adobe-swatch-exchange-ase

Adobe has its ASE (Adobe Swatch Exchange) format which is interoperable between all Adobe software. Maybe an open format would be better but Adobe fits for now.

This tool will be very helpful to product designers down the line who can install the swatch file in their PS or AI or FW to help create FT desig

[2014-04-08 12:01] manalishi79 opened #49 "Colour changes to the demo"
Should match FT.com slideshow colours.
http://www.ft.com/cms/s/0/e41ab87c-be14-11e3-b44a-00144feabdc0.html?siteedition=uk#slide0

[2014-04-09 08:36] #49 closed, assigned to manalishi79

[2014-04-28 19:03] kavanagh opened #50 "Using RGBA colors with fallback"
So I'm making o-buttons use color transparency (where supported) so they can easily be shown on various background colors, for example on any of the pink-tint backgrounds.

This gave rise to needing to add RGBA colors to o-colors. That's fine and it looks great but the problem is we need to also provide a non-RGBA colors for IE8 (and other non-believers).

@wheresrhys, @dansearle-ft and I pondered

[2014-04-28 19:12] kavanagh opened #51 "Various new features"
- use SASS maps and  sorter variable names
- provide back compatibility
- allow rgba and fallback colors
- add mixins to allow user to get a color triplet (border, bg and color/fg)

eg

[code]

and

[code]
- add common color related mixins

eg

[code]

[code]

[2014-06-18 23:19] #37 closed, assigned to nobody

[2014-06-18 23:21] triblondon opened #55 "Make oColorsGetPaletteColor public"
Remove underscore.  Move code if necessary to avoid confusion if it sits with private funcs at the moment.  Update docs.

[2014-06-18 23:24] triblondon opened #56 "Allow definition of custom use cases"
Allow products or components that consume colors to define their own use cases:

[code]

These should be added to the `$o-colors-usecase-list`, and then treated just as normal use cases are currently.

[2014-06-19 16:29] #55 closed, assigned to AlbertoElias

[2014-07-06 15:21] #56 closed, assigned to AlbertoElias

[2014-07-06 15:23] #33 closed, assigned to nobody

[2014-07-06 15:35] #34 closed, assigned to nobody

[2014-07-06 15:35] #41 closed, assigned to nobody

[2014-07-06 15:40] triblondon opened #60 "Allow fetching of all three color properties in one call"
If we switch to a mixin as proposed in #50, the second argument could be optional to get all three use cases:

[code]

Could produce something like:

[code]

[2014-07-06 15:41] #51 closed, assigned to nobody

[2014-07-07 09:14] wheresrhys opened #61 "Gradients"
Should we build a gradient mixin if we're going down the route of outputting css rather than just the colour values? Would there be value in having named gradients (and gradient use case names)? Would this merit a separate module?

@danskinner

[2014-07-22 09:46] #60 closed, assigned to AlbertoElias

[2014-07-25 08:57] wheresrhys opened #64 "Deprecate fastft use cases"

[2014-07-28 15:39] #50 closed, assigned to nobody

[2014-07-28 19:36] pornel opened #65 "Weekend header color"
Use-cases don't include section-red for the "WEEKEND" in the header:

![screen shot 2014-07-28 at 20 35 10](https://cloud.githubusercontent.com/assets/72159/3725953/60c552c0-168e-11e4-9fb3-af9bb49d65d7.png)

We currently (ab)use `oColorsGetColorFor(section-money-text)` for this.

[2014-08-18 15:34] triblondon opened #68 "Reduce number of use cases for 3.0"
The current architecture of colors isn't working very well, so now we've uncovered a lot more use cases, it seems like we should have a rethink.  The problems with our current colors practice are:
1. Design team is generally not referring to colour use cases, only to palette colours, which leads to...
2. Too many overly-specific use cases are in o-colors
3. By setting only one use case in an `oCol

[2014-08-26 12:53] #68 closed, assigned to nobody

[2014-08-29 13:17] sdbernard opened #70 "Layout for the registry page"
I actually think the new layout is a step backwards, there are no hex codes in the use cases and there is no way you can scroll up and down between the palette and use cases to try and match by eye. Could you please at least add the hex code next to each use case.

Thanks

[2014-08-29 13:24] triblondon opened #71 "RGBA"
New proposed approach for RGBA, building on top of the new refactored module:

* Palette is modified to include RGBA with solid fallback where appropriate:

[code]

* `oColorsFor` now returns two rules for each property if a transparent version is defined
* `oColorsGetColorFor`, and `oColorsGetPaletteColor` take one additional argument for whether to return the rgba or the solid.  If not specified

[2014-08-29 16:12] triblondon opened #72 "Namespace palette colours to make linting easier"
Following #69, I'm breaking this out.  The problem is that this:

[code]

upsets sass-lint because it doesn't like the use of the word 'white'.  Even though we're using it as a string parameter, not a CSS colour.

Can we placate the linter, or should we namespace the colours.

We're currently working around this by disabling that lint check.

[2014-09-04 12:11] kaelig opened #79 "Use !default instead of !global + test"
In the use cases partial,

[code]

Can be simplified in:

[code]

[2014-09-09 09:19] #79 closed, assigned to AlbertoElias

[2014-10-24 10:09] kavanagh opened #82 "Create an Adobe Illustrator swatch file"
so designers can open the swatch file and have the named colours in illustrator/photoshop.

Nice to have: find a way to automated this, extracting colours from the scss.

[2014-10-24 11:18] #82 closed, assigned to kaelig

[2014-11-25 17:32] kaelig opened #84 "oColorsSetUseCase doesn't allow setting a _deprecated flag"
It's possible to assign a deprecation flag to a use case:

[code]

Calling this use-case then throws a deprecation warning.

Unfortunately that's not possible using the dedicated mixin `oColorsSetUseCase()`.

[2015-04-25 10:06] wheresrhys opened #86 "Namespaced colour schemes"
Possible way to approach supporting next but avoiding a mass refactor of next when o-colors is updated to use next's colour scheme

[code]

Then can just use o-colors in the standard way and next colours will get applied to any origami components we use. When the day comes to update origami to use next colours we just replace the origami palette with the next one.

@kaelig

[2015-04-28 11:42] triblondon commented on #86
Would you use all the same colour names?

The problem if you don't is that the palettes are not interchangeable.

[2015-04-28 11:43] triblondon commented on #86
My preference is simply to add new colours.  If necessary, `next-pink` etc.  Eventually `pink` will be deprecated, and then even more eventually, `pink` can be an alias for `next-pink`.

[2015-04-28 12:32] wheresrhys commented on #86
I realised there was a flaw in what I suggested. What I should have referenced in my suggestion was `$o-colors-usecases`. The problem is not just about defining new colours, it's about pointing use cases at next's choice of colour so e.g. a link in o-comments should use next's choice of link colour when on next.

[2015-04-28 14:36] kaelig commented on #86
Isn't it for o-comments to define use cases to be customisable?

[2015-04-28 14:45] wheresrhys commented on #86
Just been reading the o-colors code. `oColorsSetUseCase()` will override existing use cases, is that right?

[2015-04-28 14:49] kaelig commented on #86
I never used it in a product but I think you're looking in the right direction.

[2015-05-11 15:58] kaelig commented on #86
o-colors v3 allows to use new colors, can I close this question?

[2015-05-11 16:16] wheresrhys commented on #86
yep by all means

[2015-05-11 16:16] #86 closed

[2015-05-12 21:39] kaelig commented on #65
Is this still an issue?

[2015-05-13 11:25] pornel commented on #65
Yes.

[2015-05-13 14:01] kaelig commented on #70
This hasn't come up lately, feel free to reopen if we need this to be implemented.

[2015-05-13 14:01] #70 closed

[2015-05-13 14:01] kaelig commented on #61
Closing this since we don't seem to have gradients in the designs.

[2015-05-13 14:01] #61 closed

[2015-05-13 14:03] kaelig commented on #47
Ping @simonwilliamsFT: let us know if you're making Sketch / Adobe swatch files for Next, it would be interesting to have a similar thing for o-colors

[2015-05-13 14:04] kaelig commented on #64
I believe o-colors v3 deprecates fastft use cases. Can you please check?

See https://github.com/Financial-Times/o-colors/commit/89fe71a9a5d78ad501c10b499dbdbe1f1e3e1ea6

[2015-05-13 14:05] kaelig commented on #72
Not an issue anymore since we're quoting color names.

[2015-05-13 14:05] #72 closed

[2015-05-13 14:05] kaelig commented on #84
This hasn't been an issue lately so I'm closing the ticket.

[2015-05-13 14:05] #84 closed

[2015-05-13 14:20] wheresrhys commented on #64
yep seems good

[2015-05-13 14:20] #64 closed

[2015-05-20 15:56] pornel commented on #65
I don't see a solution for this.

[2015-05-20 15:59] pornel opened #89 "Expose palette and use-case names in a format readable by PHP and/or JS"
The image service accepts [background and tint colours](http://image.webservices.ft.com/v1/#bgcolor). It'd be great if it could accept Origami colour names.

I'd rather avoid writing regexes to fish colours out of SCSS files.

Perhaps related to #47

[2015-06-01 10:33] kaelig commented on #89
With LibSass and node-sass it will be easier to pass JSON to Sass as a map. So this is a way we could look into.

In the mean time, a custom made JSON -> Sass generator launched through a task could also work.

The only issue is that modules can extend the palette. This is much harder to port to JSON. Any suggestions?

[2015-06-02 20:32] pornel commented on #89
Can you give an example how the palette is extended? Maybe it doesn't have to be supported, or maybe it can be a per-module json.

[2015-06-03 10:21] kaelig commented on #89
Here is an example: https://github.com/Financial-Times/o-header/blob/master/src/scss/_color-use-cases.scss

[code]

[2015-06-03 11:39] pornel commented on #89
How far off are you from using JSON in Sass? Will it "just work" with existing deployments? (i.e. without an extra preprocessing step?)

I think I'd be OK if extensions required an extra lookup step (in this case if there was e.g. `o-header/palette.json` that contained `{"o-header-item":{"background":"grey-tint5"}}` and required looking up `grey-tint5` in `o-colors/palette.json` or such).

[2015-06-03 12:10] kaelig commented on #89
No idea, really. Haven't had a proper look at things like Eyeglass yet.

The only issue is that we'd have to discuss is that it would be an extra dependency that isn't compatible with the Sass spec, but is an extension of node-sass (itself based on LibSass).

[2015-06-03 12:49] pornel commented on #89
Oh, I thought that by node-sass you've meant the Ruby Sass.

So if officially it's not possible to load a JSON, then maybe generate it from Sass (with an ugly regex after all)

[2015-06-03 12:51] kaelig commented on #89
That's feasible. Let's see…

@hugogiraudel built SassyJSON a while ago, but maybe there are better tools to read JSON in Sass nowadays?

[2015-06-03 12:54] HugoGiraudel commented on #89
Don't. It's broken since 3.4.

[2015-06-03 12:56] HugoGiraudel commented on #89
What do you use: Ruby Sass or LibSass?

[2015-06-03 12:56] kaelig commented on #89
We're in the process of switching to LibSass.

[2015-06-03 12:57] HugoGiraudel commented on #89
You want to export Sass or import JSON?

[2015-06-03 13:00] kaelig commented on #89
Either is fine, potentially dynamic so that we don't have a build step but that's not a requirement.

We just want colors and use-cases to be available to all programming languages, so JSON seems like a good format for that. It doesn't really matter how that is done (data direction, number of steps…).

[2015-06-03 13:07] HugoGiraudel commented on #89
There you have it: http://sassmeister.com/gist/651b47182c7e985306b0.

[2015-06-03 13:12] kaelig commented on #89
Sweeeeet.

@pornel looks like something that's easy to read for JS or PHP (without a complicated regex).
@AlbertoElias any idea how we could output this easily? Could it be something OBT does compile?

[2015-06-03 13:27] HugoGiraudel commented on #89
If you generate this:

[code]

You get this:

[code]

Then in PHP:

[code]

Or in JavaScript (pardon jQuery):

[code]

[2015-07-01 09:38] pauloneillft commented on #47
@kaelig just discussed this again with @SarahHornsey but in the context of Sketch. Does Sketch make it any easier...

[2015-07-01 09:40] simonwilliamsFT commented on #47
no
On 1 Jul 2015 10:38, "pauloneillft" <notifications@github.com> wrote:

--

------------------------------
This email was sent by a company owned by Pearson plc, registered office at
80 Strand, London WC2R 0RL.  Registered in England and Wales with company
number 53723.

[2015-07-01 09:54] kaelig commented on #47
I can't find any resources on that. If you stumbled upon a plugin for named-colours, it'd be great to have a look.

[2015-07-01 10:01] pauloneillft commented on #47
From my quick searches I couldn't find one. Perhaps one of our clever FT devs could create one ;)

[2015-07-10 14:16] Thurst-ft opened #91 "ft corporate blue"
I'm currently working on a new b2b sign up and have discovered a blue #01509D being used that is not included in o-colors. Is it a canditate to be added to the module or has it already been depricated?

[2015-07-11 20:56] AlbertoElias commented on #91
cc @danskinner

[2015-07-14 13:20] danskinner commented on #91
Hi @Thurst-ft - do you have a mockup I could see? Have no record of that colour so assume it was used in error...

[2015-08-26 11:12] pauloneillft commented on #47
Salesforce LSG exporting ASE and CLR formats
http://www.lightningdesignsystem.com/resources/downloads#role=regular&status=all

[2015-08-26 11:24] kaelig commented on #89
The Salesforce UX team built a set of Gulp transformations to create palettes in different formats: https://github.com/salesforce-ux/theo

[2015-08-26 11:30] kaelig commented on #47
I've asked @jina, designer at Salesforce, since I'm unsure how they export to these formats. It might be a manual process.

[2015-09-09 05:55] kaelig commented on #89
Sassport by the talented @davidkpiano (who also made [Sassdash](https://github.com/davidkpiano/sassdash)) could be the answer to this issue.

See https://github.com/davidkpiano/sassport/

The example given is:
[code]

[code]

[2015-09-09 08:09] HugoGiraudel commented on #89
Would be clean, indeed.

[2016-01-06 10:55] andygnewman opened #98 "Palette not being displayed in registry demo"
GET http://origami-buildservice-qa.herokuapp.com/v2/demos/src/scss/_palette.scss 404 (Not Found)

[2016-01-06 17:42] AlbertoElias commented on #98
Fixed in #99

[2016-03-17 16:46] #98 closed

[2016-03-17 16:46] onishiweb commented on #91
Any update on this or can it be closed?

[2016-03-17 16:48] onishiweb commented on #89
Do we think this is still worth looking into doing?

[2016-03-17 16:49] onishiweb commented on #71
Is this still an issue?

[2016-03-17 16:50] onishiweb commented on #65
There's `o-section-red` now in the palette, so I'm going to close this one.

[2016-03-17 16:50] #65 closed

[2016-03-17 16:51] onishiweb commented on #47
Is there any update on this? Would people still find it useful?

[2016-03-17 16:53] SarahHornsey commented on #47
Yup :-)

[2016-03-17 17:09] kavanagh commented on #71
Don't think so. If it turns out to be important someone can reopen.

[2016-03-17 17:11] Thurst-ft commented on #91
I think this can be closed. It did not get used on the  new b2b forms so I
suspect there is no longer a user case for it.

*--*

*Thurston Tye*
Front End Developer
Technology

+44 (0)20 77756796
Number One Southwark Bridge, London SE1 9HL

<https://www.facebook.com/financialtimes> <https://twitter.com/FT>
<http://www.linkedin.com/company/financial-times>
<https://plus.google.com/+FinancialTimes/po

[2016-03-17 17:12] onishiweb commented on #91
Ok thanks Thurston

[2016-03-17 17:12] #91 closed

[2016-03-17 17:13] #71 closed

[2016-03-17 18:15] kaelig commented on #89
You may want to consider using Theo: https://github.com/salesforce-ux/theo

You give it JSON, and spits out Sass + many other formats (e.g. for iOS and Android). Maybe you could make it work for colors and color use cases "à la FT" (Theo has the same basic principles behind it).

[2016-03-18 11:47] onishiweb commented on #89
Thanks @kaelig, will have a look into that.

[2016-03-22 17:04] AlbertoElias commented on #89
@pornel would this still be useful for the web app? We haven't heard anyone else ask for it

[2016-03-22 20:39] pornel commented on #89
This was for the imageservice, so you could say `&bgcolor=pink`

[2016-03-23 09:58] AlbertoElias commented on #89
Yup, I'm asking as you're the only team that asked for this feature. It's one of those that seems to make sense, but I'm not sure if in the usage we've seen of the module, that it's necessary. Most image service requests that use tinting are done via Sass, so they're constructed using o-colors.

As I said, it's one of those features that makes a lot of sense, so we shouldn't close the issue, but I

[2016-03-24 13:59] AlbertoElias commented on #47
Yeah, this would be nice

[2016-09-19 10:28] onishiweb commented on #89
@rowanmanning do you think this would still be useful and would there be a good way of doing this in the new image service?

[2016-10-19 15:45] onishiweb opened #110 "v4"
Making a list of things to do for a new major version:
- [ ] Deprecate old colours
- [ ] Normalise hyphens (e.g. color-tint1 vs. color-1)

[2016-11-07 16:02] lc512k opened #111 "a11y issues with common color combination"
`teal-1` (#27757b) and `pink-tint1` (#f6e9d8) is a very common color combination on Next, as seen in https://www.ft.com/barriers (when signed out)

<img width="297" alt="screen shot 2016-11-07 at 15 47 25" src="https://cloud.githubusercontent.com/assets/3425322/20064413/8b4c5d18-a502-11e6-9fb3-384b92d27da5.png">

It has a contrast ratio of 1.48:1, which is _very_ close to the required 1.5:1 requir

[2016-11-14 13:53] alicebartlett commented on #111
Wow these two colours are incredibly close! Let me check with Sue Vago, but this should be an easy yes.

[2016-11-14 13:58] alicebartlett commented on #89
Going to close this. As @AlbertoElias says, most of the image service tint requests come via Sass which is already using o-colors to resolve to hex values.

Adding this would add a dependency on o-colors from the image service, which would need to be versioned. As we've seen with o-icons, this type of dependency can be quite a pain to manage so I'd rather not introduce it for a feature people are

[2016-11-14 13:58] #89 closed

[2016-11-14 17:11] alicebartlett commented on #111
Sue's given this a thumbs up, PR is here #112

[2016-11-14 17:17] #111 closed

[2017-01-13 13:32] Thurst-ft opened #115 "palette colours org-b2b-* to be deprecated?"
Unless they are being used by anyone else KAT was the only product that used org-b2b-* colours

[2017-01-17 10:40] Thurst-ft commented on #115
Not sure if this will affect the decision to depreciate org-b2b-* but it seems that http://enterprise.ft.com/en-gb/ is using the orange from o-color palette.

[2017-01-31 14:47] onishiweb opened #116 "Add new color for toppers"
Colors: `#252830`
Name: Slate

Requested by @olipowell for Rich Journalism

[2017-01-31 16:55] onishiweb commented on #116
Closed by #117

[2017-01-31 16:55] #116 closed

[2017-01-31 16:55] onishiweb opened #118 "Add link to Lea Verou's colour contrast checker in guidelines"
http://leaverou.github.io/contrast-ratio/

[2017-01-31 16:57] onishiweb commented on #47
@olipowell do you think you could look at how this could be done in Sketch and any other software you're using and see how easy it would be to maintain it. Then we can see how best to host it here too. Cheers.

[2017-01-31 18:20] kaelig commented on #47
Alternatively you could use a service like https://brand.ai/

[2017-01-31 19:32] olipowell commented on #47
Yup, already on it! I'm just working out some teething problems before we start using this beyond the team, but I have a library of components up and running in Sketch. I'll put together a smaller library of say o-buttons that we can start experimenting with on different platforms.

[2017-02-10 11:59] SarahHornsey opened #120 "new advertising colour"
hi Origami,

I'm not sure if this is the correct way to raise this. I've added a o-label to the updated design of the paid post teaser that runs across FT.com (see attached)

How is the best way to add this colour into the Origami colour component. Also it needs to be called Advertising, or Paid Post or Promoted Content or something. Any thoughts on this are welcome.

[paid post unit.pdf](https://

[2017-02-10 13:40] alicebartlett commented on #120
@onishiweb and @olipowell are in the middle of a big colors refactor, can you two decide on this pleaseeeee?

[2017-02-22 14:02] onishiweb commented on #115
Have looked through the GH codebases and it appears in 2 places, one in Origami (o-labels) and one in AMP. Looks like it should be safe to deprecate and move to something within the new palette.

[2017-02-23 17:28] onishiweb commented on #120
Talked with @olipowell and decided to use `teal` instead

[2017-02-23 17:28] #120 closed

[2017-03-17 15:28] onishiweb commented on #110
Moving this to a milestone

[2017-03-17 15:28] #110 closed

[2017-05-22 15:14] onishiweb opened #122 "Sass tests"
Should add tests to the Sass in here, possibly using [True](https://github.com/oddbird/true)

[2017-05-23 12:37] #115 closed

[2017-05-23 12:39] #118 closed

[2017-06-26 09:14] olipowell opened #127 "Update teal saturation"
Teal's saturation should be 100 throughout the tints, the primary color is fine, just needs updating in `$o-colors-tints` and wherever else the values are.

[2017-06-26 13:57] onishiweb commented on #127
Oh no, I forgot to do this :(

[2017-06-26 14:47] #127 closed

[2017-10-23 10:13] olipowell opened #135 "Update Primary Teal"
The registry is showing Teal as it was before we reverted the Saturation in #129 We should reflect this in the Primary swatch too. Currently 00757F and should be 0D7680

[2017-10-25 13:48] JakeChampion commented on #135
PR for this work --> https://github.com/Financial-Times/o-colors/pull/136

[2017-11-14 10:07] alicebartlett opened #138 "Add FT Brand Pink"
Although we don't want to use the brand pink in digital things, @rowanbeentje has come up with valid use-case for it which is preventing a flash of the wrong colour content when the logo loads in.
Once I have the hex value for the color I propose we add it under a new category of colors called "brand colors" and we call it brand-ft-pink.

[2017-11-14 10:18] alicebartlett commented on #138
According to the FT brand guidelines (https://drive.google.com/file/d/1a78OYPFjHrx6UcFdLNV8Z2S_ZyoWmzmo/view) the hex for the RGB for FT brand pink is #fcd0b1

[2017-11-27 16:48] notlee opened #140 "Markup documentation improvement: surface usecase/property options."
Improve markup documentation to list available usecases and properties, or link to a place to see them.
https://github.com/Financial-Times/o-colors#markup
`.o-colors-[USECASE]-[PROPERTY]`

[2018-01-08 16:06] #140 closed

[2018-01-26 13:58] gvonkoss commented on #122
We'll be doing the work for including this in OBT.

[2018-01-26 13:58] #122 closed

[2018-01-26 14:02] gvonkoss commented on #138
@rowanbeentje is this still relevant?

[2018-01-26 16:14] rowanbeentje commented on #138
@gvonkoss  I think so!  "Brand" FT pink (like that used in the logo background) isn't in the current pallette, so we've ended up hardcoding it - I think the reason it wasn't included originally is because we didn't want to have it used for UI elements etc, so not sure how that can be discouraged...

[2018-01-29 10:23] gvonkoss commented on #138
@notlee we can probably add this to the list of things to do when we brand components (I can't remember what our final decision with branding regarding  `o-colors` was)

[2018-03-13 16:35] gvonkoss opened #144 "implement o-brand"
A comment in #143 raised a use case for `o-brand`, but @notlee and I have agreed to postpone its implementation so that we have the opportunity to brand more components and  pick up on any additions/changes we'd like to make to `o-brand` before we include it here and cause any breaking changes.

[2018-03-19 14:54] notlee commented on #144
Also hide the redundant white tints in the "internal" brand demo. Potential implementation: give origami.json demos an array for which brands they apply to, show in the registry ui based on the selected brand.

https://github.com/Financial-Times/o-colors/pull/145

[2018-03-22 12:55] gvonkoss opened #148 "Removing tinting (aka breaking changes)"
We've  found that the concepts of 'tinting' and 'mixing' are inaccurately represented in`o-colors`, especially now that we are beginning to introduce `o-brand` to our components. Seeing as the fundamental concept behind branding is that we provide the ability to switch stylistic context, we need a palette that supports those switches.

Currently, `o-colors` doesn't support colours/tints/shades/mix

[2018-03-28 15:42] notlee opened #150 "Custom palette color namespacing."
It's possible to add a custom palette colour in a component using `oColorsSetColor`. This could then be used by a dependent client or component, without the dependent knowing it's not an official palette colour. This means components are unable to remove custom colours without potentially causing a visually breaking change.

Should we document within `o-colors`: unoffical palette colours _should_

[2018-03-28 15:52] gvonkoss commented on #150
I don't see much of an issue with that documentation.

Could it be a semantic problem, however?
Seeing as many of these new colours are coming into play because we are moving into the internal universe, perhaps they are colours that will be used throughout more than each individual component—it could be odd to use a variable called `o-buttons-black-white-10` for something that isn't a button, whic

[2018-03-28 16:29] notlee commented on #150
Adding the component could be a good idea. We'd be able to warn and transition it seamlessly to the official palette.

1. The warning would appear upon getting the colour, which I _think_ happens in `oColorsGetPaletteColor`, and would appear for the component which set the custom usecase which might be a bit annoying -- but fine?
2. We'd also need to enforce that a component name is given, so we'd

[2018-03-28 16:46] notlee commented on #150
It's currently possible to override a color. Is there a problem with preventing that? It doesn't necessarily make sense to reassign a color.

[2018-08-20 14:31] draysonandstock opened #157 "Add these colours to an Internal Palette."
Please can we add an Internal Colour Palette to o-colours to include the following:

Primary:
Black, White, Oxford, Teal

Secondary:
Slate, Lemon

Tertiary:
Jade and Crimson

Thanks and any questions let me know,
James

[2018-08-23 14:40] #157 closed

[2018-11-07 11:44] wheresrhys opened #172 "Custom vars for deprecated colours are malformed"
![image](https://user-images.githubusercontent.com/447559/48129768-66048c00-e282-11e8-977c-91b00c5485e2.png)

[2019-02-13 18:14] notlee opened #181 "Add a drop-shadow colour usecase across all brands"
This can replace the colors used in:
`o-overlay`, `o-tooltip`, `o-visual-effects`

[2019-02-18 10:49] notlee opened #184 "Enable color palette deprecations for all brands"
https://github.com/Financial-Times/o-colors/pull/183

[2019-02-18 12:07] notlee opened #186 "Make 'slate-white-15' and 'slate-white-5' not experimental."
The experimental internal brand colours 'slate-white-15' and 'slate-white-5' should be made non-experimental in the next major. We need to:

- Confirm their use with design.
- Confirm their names with design (not very catchy, very literal, is 15 more or less slate than 5?)
- Should these actually be distinct colours or instead a usecase?

[2019-05-20 16:14] notlee opened #189 "Consider removing `oColorsFor` text colour generation."
Me and the apps team were tripped up by `oColorsFor` generating a text colour based on the existence of the background colour and opacity passed by `oColorsFor` when outputting said text colour.

How widely is this relied on? Consider simplifying `o-colors` in the next major by requiring an explicit text colour (even if that's generated with `oColorsGetTextColor`)

E.g. it's used in teasers https:

[2019-06-21 10:17] rowanmanning opened #192 "Should we remove or reduce the contrast checking?"
Based on a discussion with @oliverturner in the open meeting. The contrast checker built into o-colors is possibly not needed, as most of our users (us included) run automated accessibility tests. We could either remove or allow people to disable the warnings.

[2019-07-01 14:52] notlee opened #194 "Proposal: Remove `.o-colors-palette-#{$name}` classes"
See: https://github.com/Financial-Times/o-colors/pull/193

[2019-07-02 07:26] notlee commented on #192
The immediate issue is addressed in https://github.com/Financial-Times/o-colors/pull/193 and https://github.com/Financial-Times/o-colors/pull/196, in that warnings are no longer output with silent mode enabled (as the user can't do anything about them). I also created an issue to consider removing the CSS classes which are causing the contrast warnings in the next breaking release https://github.c

[2019-08-23 09:47] notlee opened #197 "o-colors primary Sass mixin"
Add a [primary mixin](https://github.com/Financial-Times/origami-proposals/issues/6) to o-colors.

[2019-08-28 16:15] notlee opened #198 "Proposal: v5"
## Current Interface

- Mixins
    - oColors($opts)
    - oColorsSetColor($name, $color)
    - oColorsSetUseCase($usecase, $property, $color)
    - oColorsFor($useCaseList, $propertyList, $textLevel)
- Functions
    - oColorsGetPaletteColor($name)
    - oColorsMix($color, $background, $percentage)
    - oColorsGetUseCase($usecase, $property)
    - oColorsGetColorFor($namelist, $property, $options)

[2019-08-29 07:48] notlee opened #199 "o-colors complete breaking checklist"
Origami plan to release major new versions of low level components, which remove technical debt from recent additions such as component branding, and implement more recent proposals such as adding a primary Sass mixin and removing custom classes from many Sass interfaces.

**steps**

- [x] Add MIGRATION.md
- [x] Add a [primary mixin](https://github.com/Financial-Times/origami-proposals/issues/6),

[2019-08-30 13:08] chee commented on #192
i think the contrast testing belongs outside of o-colors

[2019-09-02 08:47] rowanmanning commented on #198
This looks good to me, my only question is that I thought we were considering getting rid of use-cases?

[2019-09-02 10:08] notlee commented on #198
Good point. I think there's still a place for them. It's a useful mechanism to share colours between components and projects.

If we were to switch to plain Sass variables we lose the ability to deprecate with a Sass warning, and a lesser issue rely on documentation for consistent naming between usecases and components.

We can still simplify o-colors a bunch and keep usecases, overcoming gotchas

[2019-09-02 10:14] notlee commented on #192
I largely agree. The [proposal for v5 ](https://github.com/Financial-Times/o-colors/issues/198)reduces contrast checking in o-colors, except for `oColorsGetTextColor` where a foreground colour is generated. My thinking is in that case immediate feedback is useful. Provided it may be addressed or dismissed. Thoughts?

[2019-09-02 10:33] notlee commented on #198
Looking at the [o-button usecases](https://github.com/Financial-Times/o-buttons/blob/master/src/scss/_deprecated.scss#L105) reminds me that the way we deprecate a usecase could be improved. It'd not granular (it's impossible to deprecate a property of a usecase) and is detatched from the definition of the usecase.

[code]

I'm going to add to the proposal a flexible options argument to deprecate u

[2019-09-02 10:48] JakeChampion commented on #198
I'm liking Alternative #1 the most.
[code]

[2019-09-02 10:52] notlee commented on #198
Any reason in particular? Not related to deprecation, the more I look the more I'm drawn to having all the properties of a usecase tied together. E.g.

[code]

[2019-09-02 13:08] JakeChampion commented on #198
Hmm, thats a good point. Now I'm more drawn to Alternative #2

[2019-09-03 09:38] chee commented on #192
@notlee doing some but not much contrast checking feels like it light lead people into a false sense of security?

and if we’re expecting them to use a further tool for the rest of the contrast checking then they get it in two places.

i think we should leave color accessibility to a tool like Pa11y.

does Typography warn if a font size is too small?

[2019-09-03 10:39] notlee commented on #192
@chee it does not, I suppose you're right that we don't want to create a false sense of security. I'll update the proposal to remove all contrast checking.

[2019-09-03 10:47] notlee commented on #198
The proposal has been updated to remove contrast checking. See https://github.com/Financial-Times/o-colors/issues/192

[2019-09-05 13:31] notlee commented on #198
Some more thoughts on this proposal.

**One**
`oColorsAddColor` should actually be `oColorsSetColor`, as it can update existing colours.

**Two**
`oColorsGetColor` and `oColorsGetColorFor` could be more clear. How about:

`oColorsByUsecase($usecase, $property, $fallback, $from: 'project-name')`
`oColorsByName($color-name, $from: 'project-name')`

This is explicit in intention and similar in naming

[2019-09-05 13:38] JakeChampion commented on #198
I like

[2019-09-20 10:25] rowanmanning commented on #192
This can be closed as it's in the proposal #198 and will be done as part of the next breaking change (#199)

[2019-09-20 10:25] #192 closed

[2019-09-20 10:27] rowanmanning commented on #138
@notlee to check if there are any other use-cases for this?

[2019-09-27 08:10] notlee commented on #198
After chatting to some product design team members, there's not much appetite for renaming tints -- they're succinct and well used. I've removed this from the proposal (let me know if there are any objections):

Instead we can improve documentation around the demo and in the README to help people new to o-colors.

[2019-10-02 17:47] notlee commented on #198
I've updated the proposal for `oColorsByName`:
- Updated argument `$color` which should be named `$color-hex`, as per the proposal description
- Added argument `$opts` to support custom palette colour deprecation, inline with the proposed `oColorsSetUseCase` interface.

[2019-10-03 12:04] notlee commented on #198
With the palette variables made private there's no way to iterate over colours in the palette. I've added `oColorsGetPalette` to the proposal. It will return a list of palette color details, which will include the name of the color and what it was added by.

[code]

This approach makes the palette read only, unless using the provided mixins, and hides the internal implementation and complexity of

[2019-10-14 12:03] notlee commented on #198
I'm thinking about making `oColorsSetColor` and `oColorsSetUseCase` error if the colour is already set, and renaming from `Set` to `Add` accordingly. We have mixins on the component level for customisation e.g. `oHeaderServicesCustomize`; it's confusing and inconsistent to have both methods of customisation -- global in o-colors and local to the component.

We should still allow customisation of d

[2019-10-18 16:42] notlee commented on #198
I'm updating the proposal to keep the arguments of `oColorsMix` the same. Changing `$color` for `$foreground` doesn't really add value.

[2019-10-18 16:46] notlee commented on #198
I've updated the proposal to remove this section:

We decided to [keep black-50/white-50 style tints](https://github.com/Financial-Times/o-colors/issues/198#issuecomment-535839494). Specifying the two colours in  the name of 'slate-white-15' and 'slate-white-5' is important to differentiate these colours from our "tints". We haven't got well defined usecases for these colours from the design team

[2019-10-22 11:12] notlee commented on #198
I updated the proposal to note our new thinking around contrast checking. See https://github.com/Financial-Times/o-colors/pull/214

[2019-10-23 11:04] notlee commented on #198
I've updated the proposal for `oColorsGetTint`. The new major of o-buttons has a new usecase which requires more granular tint access

[2019-10-25 12:48] notlee commented on #189
See https://github.com/Financial-Times/o-colors/issues/198

[2019-10-25 12:48] #189 closed

[2019-10-25 12:48] notlee commented on #194
See https://github.com/Financial-Times/o-colors/issues/198

[2019-10-25 12:48] notlee commented on #197
This is done

[2019-10-25 12:48] #197 closed

[2019-10-25 12:51] notlee commented on #150
Custom palette colour namespacing was already documented as a must. Sometimes this wasn't the case and made tracking down a missing colour difficult if it wasn't deprecated correctly. We decided to make the requirement explicit. See https://github.com/Financial-Times/o-colors/issues/198

[2019-10-25 12:51] #150 closed

[2019-10-28 10:56] notlee commented on #148
There wasn't much appetite from the design team or others I chatted to to rename our palette colours to make the distinction between tints and... tones(?) more explicit. We decided to improve our documentation but not make other changes for the time being. There are some more details here https://github.com/Financial-Times/o-colors/issues/198

[2019-10-28 10:56] #148 closed

[2019-10-28 10:57] notlee commented on #184
Done. To be released as part of the major cascade, see https://github.com/Financial-Times/o-colors/pull/207

[2019-10-28 10:57] #184 closed

[2019-10-28 10:58] notlee commented on #144
We've branded o-colors now and are making improvements in v5, see
https://github.com/Financial-Times/o-colors/pull/207

[2019-10-28 10:58] #144 closed

[2019-10-28 10:59] notlee commented on #199
Done, to be released as part of the major cascade along with other [proposed changes](https://github.com/Financial-Times/o-colors/issues/198). See https://github.com/Financial-Times/o-colors/pull/207

[2019-10-28 10:59] #199 closed

[2019-11-20 17:19] notlee commented on #148
Scratch that. Tints are tones and mixes are mixes. Hi Gabi 👋

[2019-11-20 17:49] notlee commented on #198
Note: We did end up replacing tints with tones. More details here https://github.com/Financial-Times/o-colors/pull/221

[2019-11-22 16:56] rowanmanning opened #236 "Fix the whitelabel demos"
Whitelabel demos are broken in v5 because o-syntax-highlight now has explicit branding. Fixing this is less important than getting more majors out, but we should do it ASAP ideally.

[2019-11-22 17:23] #198 closed

[2019-11-25 15:34] notlee opened #237 "update custom usecase override error"
If a project or component sets a custom usecase and is imported twice,
the usecase is set twice and an error is thrown.

Instead only error if the custom usecase is being set a second time with
a different value to what is currently set -- indicating an override

[2020-01-24 16:45] notlee opened #241 "Poposal: Data Visualisation Colour Palette Tool [DRAFT]"
**[This is a draft: there may be accidental lies or missing details]**

## Context

There is a colour picker (1-7) in FastCharts which is used to generate ft.com visualisations. However, in some cases deciding a colour palette for data visualisations can still be a manual process by Caroline. There are a number of reasons a data visualisation may benefit from a unique palette than has been used be

[2020-01-27 11:48] cnev177 commented on #241
@notlee this is really great!
You might want to note under **reasons**
- Gender data should not be communicated with pink and blue which are currently our 1st and 2nd **small data point** colours
- Issues when using colours which have strong cultural associations

BTW this isn't in your list but the best article I've seen for explaining the reasoning behind building their tool and explains all the

[2020-01-27 15:44] cnev177 commented on #241
ooh this is another interesting tool I've stumbled across https://learnui.design/tools/data-color-picker.html

[2020-02-03 15:35] notlee commented on #237
This was fixed

[2020-02-03 15:35] #237 closed

[2020-02-03 17:54] notlee commented on #241
To get a feel for how difficult it is, I've started looking into how to simulate colour blindness. So far I've discovered [skratchdot/color-blind](https://github.com/skratchdot/color-blind) which is a JS library that can convert one hex to another for different kinds of colour blindness. skratchdot/color-blind is under MIT license but probably shouldn't be: It uses a JS algorithm written by Matthe

[2020-02-04 15:29] #236 closed

[2020-02-26 17:26] notlee opened #245 "Add mandrain back to the internal tool palette?"
We're using the hex directly for `o-meter`. Should it be officially available for
internal brand products again? My feelings are it should if:
- there are other uses of the hex directly in internal brand products, or;
- the design team foresee using it in internal brands products in the future

https://github.com/Financial-Times/o-meter/pull/7#discussion_r384390034

[2020-02-27 11:13] notlee commented on #241
We could use [d3-jnd](https://github.com/connorgr/d3-jnd), same as Viz Palette, to decide if blocks of colours are noticeably different at different sizes. It's based on interesting [research by Tableau](https://research.tableau.com/paper/engineering-model-color-difference-function-size
) (2014). 624 participants were recruited on Mechanical Turk to rate if blocks of colour were noticeably differe

[2020-02-27 11:33] notlee commented on #241
Our [o-colors contrast checker](https://registry.origami.ft.com/components/o-colors@5.0.6#demo-contrast-ratio-checker) doesn't take into account colour blindness.
If we build this tool to help with data vis colour palettes, perhaps the ui could enable
foreground/background checks like the current o-colors demo (like [whocanuse](https://whocanuse.com/))

[2020-03-02 09:23] rowanmanning commented on #245
@kiyaGu has another use-case in biz-ops, an amber label (and also there's an orange used in SOS for amber ratings). I'm going to open a PR adding mandarin to the internal brand I think, otherwise Kiya will have to copy/paste the hex in another place.

[2020-03-02 09:55] #245 closed

[2020-07-10 14:31] JakeChampion commented on #241
This work is on hold due to the fact we don't have enough people to do this.

[2020-10-28 10:55] #138 closed

[2020-12-22 12:22] chee opened #289 "Proposal: provide o-colors as a .json and a .js file"
i want to use these colours in a javascript project

[2021-06-16 10:11] chee opened #304 "Update demos to use the released versions of the components"
the demos in the latest version depend on betas:)

[2021-07-26 08:50] GeoffThorpeFT opened #309 "Inconsistent status of wasabi"
The v4 to v5 migration is explicit in its mention of the deprecation of `wasabi` https://github.com/Financial-Times/o-colors/blob/master/MIGRATION.md#sass:
[code]

However, the tertiary color palette still shows wasabi: https://registry.origami.ft.com/components/o-colors@6.0.3#demo-tertiary-palette

[2021-07-27 10:52] notlee commented on #309
That view shows the master brand colour palette. To see the internal brand palette toggle the brand in the right hand sidebar :) ![Screenshot 2021-07-27 at 11 52 02](https://user-images.githubusercontent.com/10405691/127142275-6d070e5a-3ff0-4f30-a127-b7076e9cd819.png)
![Screenshot 2021-07-27 at 11 51 58](https://user-images.githubusercontent.com/10405691/127142281-7274a940-200f-4f4c-b752-cb9029816

[2021-07-27 10:52] #309 closed

[2021-07-27 10:56] notlee commented on #309
There is a related issue though that @kiyaGu found :D https://github.com/Financial-Times/o-colors/pull/310

[2021-07-30 13:54] kiyaGu opened #311 "Replace use of / (slash) for division with math.div()"
Feature request

## What

Dart Sass will [remove](https://sass-lang.com/documentation/breaking-changes/slash-div) use of Slash `/` for division and instead division will be written using the new `math.div()` function.

## Details

We, Reliability engineering team, are migrating the Bower Origami components used by [Heimdall UI](https://github.com/Financial-Times/heimdall-ui) with NPM ones. While d

[2021-08-02 13:29] JakeChampion commented on #311
Note: If we move to using the built-in sass modules, then only dart-sass can be used and not lib-sass or ruby-sass as they do not support built-in sass modules

[2021-08-25 16:30] notlee opened #316 "Deprecate the B2C colour palette"
The B2C colour palette is not defined in the FTs Brand Guidelines and is not defined in Customer Products' Figma foundations file. It appears it is barely used.

![Screenshot 2021-08-25 at 17 23 07](https://user-images.githubusercontent.com/10405691/130828333-785331a6-e193-458f-8d04-f2feb5fa015e.png)

We have found references in some components, e.g. o-buttons, o-header-services:
![Screenshot 2021